/* =========================
CSS
========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background:#000;
  color:#fff;
  overflow-x:hidden;
}

/* =========================
NAVBAR
========================= */

.navbar{
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:1200px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 35px;

  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(12px);

  border:1px solid rgba(255,255,255,0.1);

  border-radius:20px;

  z-index:1000;
}

.logo{
  font-family:'Playfair Display', serif;
  font-size:1.6rem;
  font-weight:700;
  letter-spacing:2px;
  color:#d4af37;
}

.nav-links{
  display:flex;
  gap:35px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:#fff;
  font-size:0.95rem;
  transition:0.3s ease;
  position:relative;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:2px;
  background:#d4af37;
  transition:0.3s;
}

.nav-links a:hover::after{
  width:100%;
}

.nav-links a:hover{
  color:#d4af37;
}

.menu-btn{
  display:none;
  background:none;
  border:none;
  color:#fff;
  font-size:1.7rem;
  cursor:pointer;
}

/* ======================= 
ROOMS SECTION
 ======================== */

/* =========================
ROOMS SECTION
========================= */

.rooms-section{
  background:#0b0b0b;
}

.section-title{
  text-align:center;
  margin-bottom:70px;
}

.section-title p{
  color:#d4af37;
  letter-spacing:3px;
  margin-bottom:15px;
}

.section-title h2{
  font-size:3rem;
  font-family:'Playfair Display', serif;
}

.rooms-container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
  gap:35px;
}

/* ROOM CARD */

.room-card{
  background:#151515;
  border-radius:20px;
  overflow:hidden;

  transition:0.4s ease;

  border:1px solid rgba(255,255,255,0.08);
}

.room-card:hover{
  transform:translateY(-12px);

  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.room-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.room-content{
  padding:30px;
}

.room-content h3{
  font-size:1.7rem;
  margin-bottom:15px;

  font-family:'Playfair Display', serif;
}

.room-content p{
  color:#cfcfcf;
  line-height:1.8;
  margin-bottom:25px;
}

.room-footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.room-footer span{
  color:#d4af37;
  font-weight:600;
}

.room-footer a{
  text-decoration:none;
  color:#fff;

  border:1px solid rgba(255,255,255,0.2);

  padding:10px 18px;
  border-radius:30px;

  transition:0.3s;
}

.room-footer a:hover{
  background:#d4af37;
  color:#000;
}

/* =========================
HERO SECTION
========================= */

.hero{
  position:relative;
  width:100%;
  height:100vh;

  background:url('Hotel.jpeg')
  center/cover no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;

  padding:0 20px;
}

/* Dark Overlay */
.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}

/* Hero Content */
.hero-content{
  position:relative;
  z-index:2;
  max-width:850px;

  animation:fadeUp 1.3s ease;
}

.welcome{
  color:#d4af37;
  letter-spacing:4px;
  margin-bottom:18px;
  font-size:0.95rem;
}

.hero-content h1{
  font-family:'Playfair Display', serif;
  font-size:4.5rem;
  line-height:1.1;
  margin-bottom:25px;
  font-weight:700;
}

.subtitle{
  font-size:1.1rem;
  color:#e0e0e0;
  line-height:1.8;
  margin-bottom:40px;
}

/* =========================
BUTTONS
========================= */

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.btn{
  text-decoration:none;
  padding:15px 35px;
  border-radius:50px;
  font-weight:500;
  transition:all 0.4s ease;
}

/* Gold Button */
.gold-btn{
  background:#d4af37;
  color:#000;
}

.gold-btn:hover{
  transform:translateY(-5px);
  box-shadow:0 10px 30px rgba(212,175,55,0.4);
}

/* Outline Button */
.outline-btn{
  border:1px solid rgba(255,255,255,0.4);
  color:#fff;
  backdrop-filter:blur(5px);
}

.outline-btn:hover{
  background:#fff;
  color:#000;
  transform:translateY(-5px);
}

/* =========================
ANIMATIONS
========================= */

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(40px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

/*=====================
TEMPORARY SECTIONS
======================= */
.section{
  min-height: 100vh;
  padding: 120px 10%;
  background:#111;
  border-top: 1px solid
  rgba(255, 255, 255, 0.1);
}
.section h2{
  font-size: 3rem;
  color: #d4af37;
  margin-bottom: 20px;
}

/* =========================
RESPONSIVE DESIGN
========================= */

@media(max-width:900px){

  .hero-content h1{
    font-size:3.5rem;
  }

  .subtitle{
    font-size:1rem;
  }
}

@media(max-width:768px){

  .nav-links{
    position:absolute;
    top:90px;
    right:0;

    width:220px;
    flex-direction:column;

    background:rgba(0,0,0,0.95);

    padding:25px;
    border-radius:15px;

    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .menu-btn{
    display:block;
  }

  .hero-content h1{
    font-size:2.7rem;
  }

  .hero-buttons{
    flex-direction:column;
    align-items:center;
  }

  .btn{
    width:220px;
  }
}

@media(max-width:500px){

  .hero-content h1{
    font-size:2.2rem;
  }

  .welcome{
    font-size:0.8rem;
  }

  .subtitle{
    font-size:0.95rem;
  }
}

/* =========================
ROOM MODAL
========================= */

.modal{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,0.75);

  display:none;
  justify-content:center;
  align-items:center;

  padding:20px;

  z-index:2000;

  backdrop-filter:blur(8px);
}

.modal.active{
  display:flex;
}

.modal-content{
  background:#121212;

  width:100%;
  max-width:900px;

  border-radius:25px;
  overflow:hidden;

  display:grid;
  grid-template-columns:1fr 1fr;

  animation:modalFade 0.4s ease;

  border:1px solid rgba(255,255,255,0.08);
}

.modal-content img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.modal-text{
  padding:50px;
}

.modal-text h2{
  font-size:2.5rem;
  margin-bottom:20px;

  font-family:'Playfair Display', serif;
}

.modal-text p{
  color:#d0d0d0;
  line-height:1.9;
  margin-bottom:30px;
}

.modal-price{
  color:#d4af37;
  font-size:1.4rem;
  font-weight:600;
  margin-bottom:35px;
}

.book-btn{
  display:inline-block;

  background:#d4af37;
  color:#000;

  text-decoration:none;

  padding:15px 30px;
  border-radius:40px;

  transition:0.3s;
}

.book-btn:hover{
  transform:translateY(-5px);
}

.close-modal{
  position:absolute;
  top:25px;
  right:35px;

  font-size:2.5rem;
  cursor:pointer;

  color:#fff;

  z-index:10;
}

@keyframes modalFade{

  from{
    opacity:0;
    transform:translateY(30px) scale(0.95);
  }

  to{
    opacity:1;
    transform:translateY(0) scale(1);
  }
}

/* RESPONSIVE */

@media(max-width:768px){

  .modal-content{
    grid-template-columns:1fr;
  }

  .modal-content img{
    height:300px;
  }

  .modal-text{
    padding:35px;
  }

  .modal-text h2{
    font-size:2rem;
  }
}

/* =========================
ABOUT SECTION
========================= */

.about-section{

  display:flex;
  align-items:center;
  justify-content:center;
  gap:70px;

  background:#111;

  flex-wrap:wrap;
}

/* LEFT SIDE */

.about-image{
  flex:1;
  min-width:300px;
}

.about-image img{
  width:100%;

  border-radius:25px;

  object-fit:cover;

  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

/* RIGHT SIDE */

.about-content{
  flex:1;
  min-width:300px;
} 

.about-subtitle{
  color:#d4af37;

  letter-spacing:3px;

  margin-bottom:20px;
}

.about-content h2{

  font-size:3rem;

  line-height:1.2;

  margin-bottom:30px;

  font-family:'Playfair Display', serif;
}

.about-text{

  color:#d0d0d0;

  line-height:1.9;

  margin-bottom:25px;
}

/* BUTTON */

.about-btn{

  display:inline-block;

  margin-top:10px;

  background:#d4af37;
  color:#000;

  text-decoration:none;

  padding:15px 32px;

  border-radius:40px;

  font-weight:600;

  transition:0.3s;
}

.about-btn:hover{

  transform:translateY(-5px);

  box-shadow:0 10px 25px rgba(212,175,55,0.35);
}

/*====== ABOUT MEDIA ======= */
@media(max-width:900px){

  .about-section{
    flex-direction:column;
  }

  .about-content h2{
    font-size:2.3rem;
  }

}

/* =========================
CONTACT SECTION
========================= */

.contact-section{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;

  gap:80px;

  background:#0b0b0b;

  flex-wrap:wrap;
}

/* =========================
LEFT SIDE (INFO)
========================= */

.contact-info{
  flex:1;
  min-width:300px;
}

.contact-subtitle{
  color:#d4af37;
  letter-spacing:3px;
  margin-bottom:20px;
}

.contact-info h2{
  font-size:3rem;
  font-family:'Playfair Display', serif;
  margin-bottom:25px;
  line-height:1.2;
}

.contact-text{
  color:#d0d0d0;
  line-height:1.8;
  margin-bottom:40px;
}

/* INFO BOXES */

.info-box{
  background:#151515;
  padding:20px 25px;

  border-radius:15px;

  margin-bottom:20px;

  border:1px solid rgba(255,255,255,0.06);

  transition:0.3s;
}

.info-box:hover{
  transform:translateY(-5px);
  border-color:rgba(212,175,55,0.4);
}

.info-box h3{
  color:#d4af37;
  margin-bottom:8px;
  font-size:1.1rem;
}

.info-box p{
  color:#cfcfcf;
}

/* =========================
RIGHT SIDE (FORM)
========================= */

.contact-form{
  flex:1;
  min-width:300px;
}

.contact-form form{
  background:#151515;

  padding:40px;

  border-radius:20px;

  border:1px solid rgba(255,255,255,0.06);

  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

/* INPUT FIELDS */

.contact-form input,
.contact-form textarea{

  width:100%;

  padding:15px 18px;

  margin-bottom:20px;

  border:none;

  outline:none;

  background:#0b0b0b;

  color:#fff;

  border-radius:12px;

  border:1px solid rgba(255,255,255,0.08);

  font-size:1rem;

  transition:0.3s;
}

/* FOCUS EFFECT */

.contact-form input:focus,
.contact-form textarea:focus{
  border-color:#d4af37;
}

/* BUTTON */

.contact-form button{
  width:100%;

  padding:15px;

  border:none;

  border-radius:30px;

  background:#d4af37;

  color:#000;

  font-size:1rem;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.contact-form button:hover{
  transform:translateY(-5px);
  box-shadow:0 10px 25px rgba(212,175,55,0.3);
}

/* =========================
RESPONSIVE DESIGN
========================= */

@media(max-width:900px){

  .contact-section{
    flex-direction:column;
  }

  .contact-info h2{
    font-size:2.3rem;
  }

  .contact-form form{
    padding:25px;
  }
}

/* =========================
BOOKING MODAL
========================= */

.booking-content{
  display:block;
  max-width:600px;
  padding:40px;
  background:#121212;
  border-radius:20px;
  position:relative;
}

.booking-content h2{
  font-family:'Playfair Display', serif;
  margin-bottom:25px;
  color:#d4af37;
}

/* FORM */

.booking-form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.booking-form input,
.booking-form select{
  padding:14px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,0.1);
  background:#0b0b0b;
  color:#fff;
  outline:none;
}

.booking-form input:focus,
.booking-form select:focus{
  border-color:#d4af37;
}

/* BUTTON */

.booking-form button{
  margin-top:10px;
  padding:15px;
  background:#d4af37;
  border:none;
  border-radius:30px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.booking-form button:hover{
  transform:translateY(-5px);
}

/* CLOSE BUTTON */

.close-booking{
  position:absolute;
  top:15px;
  right:20px;
  font-size:2rem;
  cursor:pointer;
  color:#fff;
}

.rooms-section{
  scroll-margin-top: 5S0px;
}

/* =========================
BOOKING MODAL
========================= */

.booking-content{
  grid-template-columns:1fr;
  max-width:600px;
}

#bookingForm{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:20px;
}

#bookingForm label{
  color:#d4af37;
  font-size:0.9rem;
}

#bookingForm input{
  padding:12px;
  border-radius:10px;
  border:none;
  outline:none;
  background:#1a1a1a;
  color:#fff;
}

#bookingForm button{
  margin-top:10px;
  cursor:pointer;
}
/* =========================
DISCOVER SECTION
========================= */

.discover-section{
  background:#0d0d0d;
}

.discover-intro{
  text-align:center;

  max-width:750px;

  margin:0 auto 70px;

  color:#cfcfcf;

  line-height:1.9;
}

/* CARDS */

.discover-container{
  display:grid;

  grid-template-columns:
  repeat(auto-fit, minmax(300px,1fr));

  gap:35px;
}

.discover-card{
  background:#151515;

  border-radius:25px;

  overflow:hidden;

  transition:0.4s ease;

  border:1px solid rgba(255,255,255,0.08);
}

.discover-card:hover{
  transform:translateY(-12px);

  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.discover-card img{
  width:100%;
  height:250px;

  object-fit:cover;
}

.discover-content{
  padding:30px;
}

.discover-content h3{
  font-size:1.8rem;

  margin-bottom:18px;

  font-family:'Playfair Display', serif;
}

.discover-content p{
  color:#d0d0d0;

  line-height:1.8;

  margin-bottom:25px;
}

.discover-content a{
  display:inline-block;

  text-decoration:none;

  color:#d4af37;

  border:1px solid rgba(212,175,55,0.4);

  padding:12px 22px;

  border-radius:35px;

  transition:0.3s ease;
}

.discover-content a:hover{
  background:#d4af37;

  color:#000;

  transform:translateY(-4px);
}